<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ROVControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ROVControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    

  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <applicationSettings>
    <ROVControl.Properties.Settings>
      <setting name="SERIALBAUD" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="SMOOTHING_FACTOR" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="VOLTAGE_SENSOR_MAP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0=0</string>
            <string>63=9.74</string>
            <string>95=12.74</string>
            <string>100=13.17</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CURRENT_SENSOR_MAP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0=-53</string>
            <string>140=0</string>
            <string>256=47</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LEAK_SENSOR_THRESHOLD" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PAN_RIGHT_INCREMENT" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PAN_LEFT_INCREMENT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="JOYSTICK_THRESHOLD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="POSITION_THRESHOLD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TILT_UP_INCREMENT" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TILT_DOWN_INCREMENT" serializeAs="String">
        <value>-2</value>
      </setting>
      <setting name="JOYSTICK_SENSITIVITY_CURVE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VIDEOPATH" serializeAs="String">
        <value>C:\Users\Dad\Documents\ROVvideo</value>
      </setting>
      <setting name="CODEC" serializeAs="String">
        <value>DIB </value>
      </setting>
      <setting name="MAX_ESC_RAMP_INTERVAL" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MAX_ESC_RANGE" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="SERIALTIMEOUT" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="SERIALPORT" serializeAs="String">
        <value>COM6</value>
      </setting>
    </ROVControl.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ROVControl.Properties.Settings>
      <setting name="UP_DOWN_TRIM" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LEFT_NEG_TRIM" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LEFT_ZERO_TRIM" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LEFT_POS_TRIM" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RIGHT_NEG_TRIM" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RIGHT_ZERO_TRIM" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RIGHT_POS_TRIM" serializeAs="String">
        <value>500</value>
      </setting>
    </ROVControl.Properties.Settings>
  </userSettings>
</configuration>
